/*
<----- Color Schemes----- >
San Marino:       #446CB3;
Madison:          #2C3E50;
Soft Red:         #EE5D5D;

*/

/* ----- Elements ----- */
body {
  font-style: 'Open Sans', Helvetica, sans-serif;
  margin-top: 100px;
}


/* ----- Layouts ----- */

.navbar {
  min-height: 100px;
}

.navbar-default {
  background: #FFF;
  border: none;
}

.navbar-brand {
  padding: 0 20px;
}

.navbar-brand img {
  margin-top: 20px;
}

.navbar-title {
  color: #2C3E50;
  margin: 20px 0 0 100px;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #446CB3;
  font-size: 30px;
  line-height: 30px;
  padding: 0 20px 0 0;
  margin-top: 35px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #2C3E50;
  background-color: #FFF;
}

.navbar-default .navbar-toggle {
  border-color: #FFF;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #446CB3;
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}

#hero {
  background: url('../img/industrial-sink.jpg') 50% 0 repeat fixed;
  min-height: 500px;
  padding: 40px 0;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

/* ----- MEDIA QUERIES ----- */

@media screen and ( max-width : 770px ) {
  .navbar-title {
    display: none;
  }
}
