/*
<----- Color Schemes----- >
San Marino:       #446CB3;
Madison:          #2C3E50;
Soft Red:         #EE5D5D;

*/

/* ----- Elements ----- */
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}


/* ----- Layouts ----- */

.btn, .btn-lg {
  border-radius: 0;
  font-size: 30px;
  line-height: 30px;
}

.btn-primary {
  background-color: rgba(68, 108, 178, 0.9);
}

.btn-danger {
  background-color: rgba(238, 93, 93, 0.9);
}

/* ----- Navigation -----*/
.main-nav {
  height: 100px;
}

.nav-container {
  padding-left: 80px;
  padding-right: 80px;
  margin: auto auto;
}

.brand-wrapper {
  display: inline-block;
}

.brand-wrapper .logo {
  margin: 20px 10px 20px 0;
  float: left;
}

.brand-wrapper .brand {
  color: #2C3E50;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px 20px 20px 10px;
  float: right;
}

.brand.mobile {
  display: none;
}

.active {
  color: #2C3E50;
}

.links {
  color: #446CB3;
  font-size: 30px;
  line-height: 30px;
  margin: 35px 0 20px 0;
  float: right;
}

.links>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links>ul>li {
  display: inline;
  padding-right: 20px;
}

.links>ul>li:nth-child(4) {
  padding-right: 0;
}

.links>ul>li>a {
  text-decoration: none;
  margin: 0;
}

.links>ul>li>a:hover {
  color: #EE5D5D;
}

.links.mobile {
  display: none;
}

/* ----- Hero -----*/
#hero {
  background: url('../img/industrial-sink.jpg') 50% 25% no-repeat;
  background-size: cover;
  color: #FFF;
  min-height: 500px;
  width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-wrapper {
  font-weight: bold;
  padding-bottom: 100px;
}

.title {
  font-size: 48px;
  line-height: 48px;
  padding-bottom: 20px;
}

.sub-title {
  font-size: 30px;
  line-height: 30px;
}

/* ----- Call to Action ----- */
#call-to-action {
  background-color: #446CB3;;
  color: #FFF;
  min-height: 100px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.cta {
  margin-top: 30px;
}

.cta-text {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}

.cta-number {
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
}

.cta-number a {
  color: #FFF;
}

/* ----- ABOUT SECTION ----- */

#about {
  margin: 0;
  padding: 50px 0 100px 0;
}

#about h1 {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-decoration: underline;
}

#about p.lead {
  font-weight: 600;
}

#about .text-wrapper {
  background-color: #F4F4F1;
  padding: 80px 20px;
  box-shadow: 0px 0px 10px #BCBECE;
}

/* ----- ABOUT SECTION ----- */

#equipment {
  background-color: #F4F4F1;
  margin: 0;
  padding: 50px 0 100px 0;
}

#equipment h1 {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-decoration: underline;
}

.card-wrapper {

}

.equip-card {
  text-align: center;
  background-color: #FFF;
  box-shadow: 0px 0px 10px #BCBECE;
  width: 31.33333333%;
  float: left;
  margin: 0 3% 40px 0;
  padding: 20px;
}

.equip-card:nth-child(3n) {
  margin-right: 0;
}

.equip-card h2 {
  font-weight: bold;
}

.equip-card h2,
.equip-card h3 {
  margin-top: 10px;
  text-decoration: underline;
}

/* ----- CONTACT ----- */
#contact {
  margin: 0;
  padding: 50px 0 100px 0;
}

#contact h1 {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  text-decoration: underline;
}

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 960px) {
  .brand-wrapper .desktop {
    display: none;
  }
  .brand-wrapper .mobile {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .links.desktop {
    display: none;
  }
  .links.mobile {
    display: block;
    font-size: 10px;
  }
  .equip-card {
    width: 100%;
  }
}
